@use './node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
    font-family: $dc-font
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

main {
    background-color: $dark;
    color: white;
    padding-bottom: 2rem;
}